body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 60px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-bottom: 68px;
}

.bio__title {
 font-size: 45px;
 line-height: 2;
 margin-bottom: 20px;
}

.bio__occupation {
  margin-bottom: 27px;
}

.bio__title,
.bio__occupation {
  color: #2a2a2a;
}

.bio__occupation,
.bio__about {
  font-size: 14px;
  line-height: 1.714;
}
.bio__about {
  color: #595959;
}

.projects__title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.projects__link {
  color: #220fdc;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.projects__link:hover {
  color: #ff6b08;
  text-decoration: underline;
}

.jobs__title,
.education__title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs__occupation,
.education__degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs__time,
.education__time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}