body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 60px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-bottom: 68px;
}

.bio__title {
 font-size: 45px;
 line-height: 2;
 margin-bottom: 20px;
}

.bio__occupation {
  margin-bottom: 27px;
}

.bio__title,
.bio__occupation {
  color: #2a2a2a;
}

.bio__occupation,
.bio__about {
  font-size: 14px;
  line-height: 1.714;
}
.bio__about {
  color: #595959;
}

.projects__title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.projects__link {
  color: #220fdc;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.projects__link:hover {
  color: #ff6b08;
  text-decoration: underline;
}

.jobs__title,
.education__title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs__occupation,
.education__degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs__time,
.education__time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.experience__item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.education__link {
  text-decoration: none;
}

.education__link:hover {
  color: #220fdc;
  text-decoration: underline;
}

.accent {
  color: #ff6b08;
}

/* ========= left-side ========= */

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.skills__title {
  font-size: 22px;
  line-height: 1.091;
}

.skills__item {
  font-size: 14px;
  line-height: 1.714;
}

.skills__list {
  list-style: none;
  padding-left: 0;
}

.skills__item::before {
  content: '\2022';
  margin-right: 8px;
  color: #ff6b08;
  font-size: 18px;
}

.photo {
  width: 370px;
}

.photo,
.contacts,
.skills,
.widget {
  margin-bottom: 60px;
}

.contacts,
.skills,
.widget {
  padding-left: 40px;
}

.contacts__title,
.skills__title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__list {
  list-style: none;
  padding-left: 0;
}

.contacts__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts__link {
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
}

.contacts__link:hover {
  opacity: 1;
  text-decoration: underline;
}

